@import './utils/vars';
@import './base/reset';
@import './components/container';
@import './base/common';
@import './components/logo';
@import './layouts/header';
@import './utils/visually-hidden';
@import './layouts/hero';
@import './layouts/our-qualities';
@import './layouts/work';
@import './layouts/team';
@import './layouts/customers';
@import './layouts/portfolio';
@import './layouts/footer';
@import './components/modal';
@import './components/footer-form';
