.footer__form {
  display: flex;
  flex-direction: column;
  // margin-left: 93px;
  align-items: center;
  @include desktop {
    align-items: flex-start;
  }
  
}

.form__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
  
  

 
}
.form__input {
  // width: 358px;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  outline: transparent;
  // margin-right: 8px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin-bottom: 20px;

  &:focus {
    border: 1px solid var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 320px) {
    width: 290px;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @include desktop {
    width: 358px;
    margin-right: 12px;
  }
}

.form__button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--background-color);
  cursor: pointer;
  padding-right: 30px;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.form__icon-send {
  position: absolute;
  top: 50%;
  left: 148px;
  transform: translateY(-50%);
}
.form__form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    flex-direction: row;
    align-items: baseline;

  }
}

