.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &__modal {
    // width: 528px;
    // min-height: 581px;
    max-width: 450px;
    width: 100%;
    min-height: 609px;
    background-color: var(--background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    @include desktop {
      width: 528px;
      min-height: 581px;
    }
  }
}

.modal-form__form-element {
  display: flex;
  flex-direction: column;
}

.form-element__input {
  height: 40px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  width: 100%;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.form-element__label {
  font-size: 12px;
  line-height: 1.17;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form-element__input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form-element__icon-person {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form-element__input:focus + & {
    fill: var(--accent-color);
  }
}

.form-element__icon-phone {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form-element__input:focus + & {
    fill: var(--accent-color);
  }
}
.form-element__icon-email {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form-element__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.form-element__comments {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.accept {
  line-height: 1.71;
  color: var(--primary-text-color);
  padding-left: 14px;
  padding-right: 11px;
  &__input-check-wrap {
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    fill: var(--background-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__text {
    display: flex;
    align-items: baseline;
  }
  &__button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border: none;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--background-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
}
.accept__input:checked + .accept__input-check-wrap {
  background-color: var(--accent-color);
  border-color: transparent;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  padding: 5px;
}
.modal__icon-close {
  fill: rgba(0, 0, 0, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal__close-button:hover & {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
