body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.lists {
  list-style: none;
}
.no-scroll {
  overflow: hidden;
}