.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.flex-container {
  display: flex;
  align-items: center;
}
.contacts-wrap {
  margin-left: auto;
}

.menu__item:not(:first-child) {
  margin-left: 50px;
}
.site-nav__logo {
  margin-right: 97px;
}
.logo__part--dark {
  color: var(--title-text-color);
}
.site-nav__menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__site-nav {
  display: flex;
}

.menu__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  line-height: 1.14;
  display: block;
  padding: 5px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.current {
  color: var(--accent-color);
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -29px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.contacts {
  list-style: none;
  &__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:last-child {
      margin-left: 50px;
    }
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .contacts__link:hover > &,
  .contacts__link:focus > & {
    fill: var(--accent-color);
  }
}
