.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
  padding-top: 94px;
  padding-bottom: 94px;
  }
}
.team__title {
font-weight: 700;
font-size: 28px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 30px;
color: var(--title-text-color);
@include desktop {
font-size: 36px;
margin-bottom: 50px;
}
}
.team__workers {
  gap: 30px;
@include tablet {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

}
.workers__item {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  // &:not(:first-child) {
  //   margin-left: 30px;
  // }
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  
  @include tablet {
   flex-basis: calc((100% - 30px) / 2);
   &:not(:last-child) {
    margin-bottom: 0;
  }; 
  }
  @include desktop {
   flex-basis: calc((100% - 90px) / 4); 
  }
}
.workers__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
  &-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}
.workers__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 24px;
  

}
.social-list__item {
  list-style: none;
  width: 44px;
  height: 44px;
  &:not(:first-child) {
    margin-left: 10px;
  }
  
}
.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
  }
}
.social-list__icon {
  fill: currentColor;
}

/* .social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}
.social-link:hover>.social-icon,
.social-link:focus>.social-icon {
  fill: var(--background-color);
} */
.workers__social-wrap {
  background-position: center;
}
